@rendermode InteractiveServer
@inject HttpClient HttpClient

@* <PopupCustomers @ref="popupRef" OnCustomerUpdated="RefreshTable" /> *@

<table class="Table">
    <thead>
        <tr>
            <th>Customer Number</th>
            <th>Name</th>
            <th>Description</th>
            <th>Address</th>
            <th>Email</th>
            <th>Website</th>
            <th>Phone Number</th>
            <th>Creation Date</th>
            <th>Last Modified</th>
            <th>Is Deleted</th>
            <th class="w-[fit-content] p-0"> </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var entry in entries)
        {

            <tr>
                <td>@entry.CustomerNumber</td>
                <td>@entry.Name</td>
                <td>@entry.Description</td>
                <td>@entry.Address</td>
                <td>@entry.Email</td>
                <td>@entry.Website</td>
                <td>@entry.PhoneNumber</td>
                <td>@entry.CreationDateTime</td>
                <td>@entry.LastModifiedAt</td>
                <td>@(entry.Deleted ? "Yes" : "No")</td>
                <td class="max-w-[fit-content] flex flex-col gap-1 justify-center items-center p-1">
                    <button type="button" class="border border-2 border-red-500 bg-red-500 bg-opacity-50 rounded-[5px]" @onclick="(() => DeleteEntry(entry.Id))"><i class="fa fa-trash"></i></button>
                    <button type="button" class="border border-2 border-gray-500 bg-gray-500 bg-opacity-50 rounded-[5px]" @onclick="(() => EditEntry(entry.Id))"><i class="fa fa-pencil"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>


@code {

    [Parameter]
    public List<Customer> entries { get; set; }

    private PopupCustomers popupRef;

    [Parameter]
    public EventCallback OnCustomerUpdated2 { get; set; }


    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && popupRef != null)
        {
            popupRef.OnCustomerUpdated = EventCallback.Factory.Create(this, RefreshTable);
        }
    }

    public string RequestURLEdit = "http://localhost:5001/api/master-data/customer/get?addDeleted=true&Id=";
    public string RequestURLDelete = "http://localhost:5001/api/master-data/customer/delete?Id=";

    private void EditEntry(int GivenId)
    {
        popupRef.Show(GivenId, RequestURLEdit, "Edit Customer");
    }

    private async Task DeleteEntry(int GivenId)
    {
        await HttpClient.DeleteFromJsonAsync<Customer>(RequestURLDelete + GivenId);
        Console.WriteLine("RefreshTable() was called from CustomersTable");
        RefreshTable();
    }


    private async Task RefreshTable()
    {
        Console.WriteLine("RefreshTable() was called from CustomersTable");
        if (OnCustomerUpdated2.HasDelegate)
        {
            await OnCustomerUpdated2.InvokeAsync(); // Notify the parent component
        }
        else
        {
            Console.WriteLine("OnCustomerUpdated has no delegate assigned.");
        }
    }


}
