@rendermode InteractiveServer
@inject HttpClient HttpClient

<PopupUser @ref="popupRef" OnUserUpdated="RefreshTable" />

<table class="Table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Roles</th>
            <th>Role Groups</th>
            <th>Is Deleted</th>
            <th> </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var entry in entries)
        {

            <tr>
                <td>@entry.FirstName</td>
                <td>@entry.LastName</td>
                <td>@entry.UserName</td>
                <td>@entry.Roles</td>
                <td>@entry.RoleGroups</td>
                <td>@(entry.Deleted ? "Yes" : "No")</td>
                <button type="button" class="btn btn-outline-danger" @onclick="(() => DeleteEntry(entry.Id))"><i class="fa fa-trash"></i></button>
                <button type="button" class="btn btn-outline-info" @onclick="(() => EditEntry(entry.Id))"><i class="fa fa-pencil"></i></button>

            </tr>
        }
    </tbody>
</table>


@code {

    [Parameter]
    public List<UserInfo> entries { get; set; }

    private PopupUser popupRef;

    [Parameter]
    public EventCallback OnUserUpdated2 { get; set; }


    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && popupRef != null)
        {
            popupRef.OnUserUpdated = EventCallback.Factory.Create(this, RefreshTable);
        }
    }

    public string RequestURLEdit = "http://localhost:5001/api/master-data/user/get?addDeleted=true&Id=";
    public string RequestURLDelete = "http://localhost:5001/api/auth/delete-user/delete?Id=";

    private void EditEntry(string GivenId)
    {
        popupRef.Show(GivenId, RequestURLEdit, "Edit User");
    }

    private async Task DeleteEntry(string GivenId)
    {
        await HttpClient.DeleteFromJsonAsync<UserInfo>(RequestURLDelete + GivenId);
        Console.WriteLine("RefreshTable() was called");
        RefreshTable();
    }


    private async Task RefreshTable()
    {
        Console.WriteLine("RefreshTable() was called");
        if (OnUserUpdated2.HasDelegate)
        {
            await OnUserUpdated2.InvokeAsync(); // Notify the parent component
        }
        else
        {
            Console.WriteLine("no delegate assigned.");
        }
    }


}
