<table class="AllTimesTable">
    <thead>
        <tr>
            <th>User Id</th>
            <th>Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Duration</th>
            <th>Worktime Diff</th>
            <th>Type</th>
            <th>Description</th>
            <th>Is Holiday</th>
            <th>Is Billable</th>
            <th>Creation Date</th>
            <th>Last Modified</th>
            <th>Is Deleted</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var entry in entries)
        {
            <tr>
                <td>@entry.UserId</td>
                <td>@entry.Date</td>
                <td>@entry.StartTime</td>
                <td>@entry.EndTime</td>
                <td>@entry.Duration</td>
                <td>@entry.WorktimeDiff</td>
                <td>@entry.Type</td>
                <td>@entry.Description</td>
                <td>@(entry.IsHoliday ? "Yes" : "No")</td>
                <td>@(entry.IsBillable ? "Yes" : "No")</td>
                <td>@entry.CreationDateTime</td>
                <td>@entry.LastModifiedAt</td>
                <td>@(entry.Deleted ? "Yes" : "No")</td>
            </tr>
        }
    </tbody>
</table>


@code {

    [Parameter]
    public List<HourEntry> entries { get; set; }

}