@using HR4You.Components.Popups
@rendermode InteractiveServer
@inject HttpClient HttpClient

<PopupCustomers @ref="popupRef" OnCustomerUpdated="RefreshTable"/> 

<table class="blueTable">
    <thead>
        <tr>
            <th>Customer Number</th>
            <th>Name</th>
            <th>Description</th>
            <th>Address</th>
            <th>Email</th>
            <th>Website</th>
            <th>Phone Number</th>
            <th>Creation Date</th>
            <th>Last Modified</th>
            <th>Is Deleted</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var entry in entries)
        {

            <tr>
                <td>@entry.CustomerNumber</td>
                <td>@entry.Name</td>
                <td>@entry.Description</td>
                <td>@entry.Address</td>
                <td>@entry.Email</td>
                <td>@entry.Website</td>
                <td>@entry.PhoneNumber</td>
                <td>@entry.CreationDateTime</td>
                <td>@entry.LastModifiedAt</td>
                <td>@(entry.Deleted ? "Yes" : "No")</td>
                <td class="table-action">
                    <button type="button" class="btn btn-danger" @onclick="(() => DeleteEntry(entry.Id))"><i class="fa fa-trash"></i></button>
                    <button type="button" class="btn btn-primary" @onclick="(() => EditEntry(entry.Id))"><i class="fa fa-pencil"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>


@code {

    [Parameter]
    public List<Customer> entries { get; set; }

    private PopupCustomers popupRef;

    [Parameter]
    public EventCallback OnCustomerUpdated2 { get; set; }


    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && popupRef != null)
        {
            popupRef.OnCustomerUpdated = EventCallback.Factory.Create(this, RefreshTable);
        }
    }

    public string RequestURLEdit = "http://localhost:5001/api/master-data/customer/get?addDeleted=true&Id=";
    public string RequestURLDelete = "http://localhost:5001/api/master-data/customer/delete?Id=";

    private void EditEntry(int GivenId)
    {
        popupRef.ShowEdit(GivenId, RequestURLEdit, "Edit Customer");
    }

    private async Task DeleteEntry(int GivenId)
    {
        await HttpClient.DeleteFromJsonAsync<Customer>(RequestURLDelete + GivenId);
        Console.WriteLine("RefreshTable() was called from CustomersTable");
        await RefreshTable();
    }


    private async Task RefreshTable()
    {
        Console.WriteLine("RefreshTable() was called from CustomersTable");
        if (OnCustomerUpdated2.HasDelegate)
        {
            await OnCustomerUpdated2.InvokeAsync(); // Notify the parent component
        }
        else
        {
            Console.WriteLine("OnCustomerUpdated has no delegate assigned.");
        }
    }


}
